{% extends 'base.html' %}
{% load static %}

{% block title %}Lista de Autores{% endblock %}
{% block seccion %}Lista de Autores{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/lista.css' %}">

<!-- Contenedor principal -->
<div class="container">
    <div class="card">
        <div class="card-header">
            Gestión de Autores
        </div>
        <div class="card-body">
            <!-- Botones de agregar -->
            <div class="d-flex justify-content-end mb-3">
                <button class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#addAuthorModal">Agregar Autor</button>
                <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addGenreModal">Agregar Género</button>
            </div>

            <!-- Tabla de libros -->
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre - Apellidos</th>

                    </tr>
                </thead>
                <tbody>
                    {% for autor in autores %}
                    <tr>
                        <td>{{ autor.id_autor }}</td>
                        <td>{{ autor.nombre_autor }}</td>
        
                        <td>
                            <button class="btn btn-crud btn-sm me-1">Leer</button>
                            <button class="btn btn-warning btn-sm me-1" data-bs-toggle="modal" data-bs-target="#editBookModal" 
                            onclick="cargarDatos('{{ autor.id_autor }}', '{{ autor.nombre_autor }}')">Editar</button>
                            <form method="POST" action="{% url 'eliminar_autor' autor.id_autor %}" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">No hay libros disponibles.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



<!-- Modal para agregar autor -->
<div class="modal fade" id="addAuthorModal" tabindex="-1" aria-labelledby="addAuthorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: rgb(63, 63, 249);">
                <h5 class="modal-title" id="addAuthorModalLabel">Agregar Nuevo Autor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'agregar_autor' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="authorName" class="form-label">Nombre del Autor: </label>
                        <input type="text" class="form-control" name="nombre_autor" id="authorName" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para agregar género -->
<div class="modal fade" id="addGenreModal" tabindex="-1" aria-labelledby="addGenreModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header " style="background-color: rgb(96, 98, 98);">
                <h5 class="modal-title" id="addGenreModalLabel">Agregar Nuevo Género</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'agregar_genero' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="genreName" class="form-label">Nombre del Género: </label>
                        <input type="text" class="form-control" name="nombre_categoria" id="genreName" required>
                    </div>
                    <button type="submit" class="btn btn-secondary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- JavaScript para cargar datos en el modal -->
 


{% endblock %}
