/* Fondo oscuro */
body {
    background-color: #343a40;
    color: white;
    font-family: 'Roboto', sans-serif;
}

/* Contenedor de la tarjeta de login */
.login-container {
    background-color: #343a40;
}

/* Tarjeta de login */
.login-card {
    background-color: #3e3e3e;
    border-radius: 15px;
    width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-card h3 {
    color: white;
}

.input-group-text {
    background-color: #495057;
    color: white;
}

.form-control {
    border: none;
    background-color: #494949;
    color: white;
}

.form-control::placeholder {
    color: #b0b0b0;
}

/* Botón de login */
.btn-primary {
    background-color: #333;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #333;
}

/* Enlace de "Olvidaste tu contraseña" */
a {
    color: black;
}

a:hover {
    color: #333;
}
.container {
    position: relative;
}
